:root {
    --red: hsl(358, 68%, 45%);
    --darkred: hsl(358, 68%, 30%);
    --purple: hsl(260, 68%, 30%);
    --grey: hsl(0, 0%, 30%);
    --cyan: rgba(0, 255, 255, .7);
    font-size: calc(0.75rem + 0.5vw);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 40rem) {
    body { padding: 2rem !important; }
    dd { margin-left: 0 !important; }
}

body {
    font: 100%/1.3 system-ui, sans-serif;
    padding: 3rem;
    max-width: 36rem;
}

h1 { font-size: 150%; margin-bottom: 1.5rem; }
h1 a { color: unset; text-decoration: unset; }

section { margin-left: 1rem; }
h2 {
    font-size: 100%;
    margin: 0 0 0 -1rem;
}
h2 + p {
    margin-top: 0;
}

a {
    color: var(--red);
    text-decoration: underline;
    text-decoration-thickness: 10%;
    text-underline-offset: 10%;
}
a:hover { color: var(--darkred); }
a:active { color: var(--purple); }

.is-hidden { display: none; }
/** end standard **/

body {
    max-width: 100%;
    padding: 0;
}

a { text-decoration: none; }
a:hover, a:focus, a:active { text-decoration: underline; }

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header */

header {
    text-transform: lowercase;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5vw 0;
}

h1 {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
    display: inline;
}

h1 a, h1 a:visited {
    color: var(--grey);
}

nav {
    display: inline;
}

header ul {
    display: inline-flex;
}

header ul li {
    margin: 0 0 0 1rem;
}

/* Forms */

form[data-toggled] {
    display: none;
}

form[data-toggled].open {
    display: block;
}

form {
    margin: 1.5rem auto 0;
    border: 1px solid var(--fainter);
    padding: 2rem;
    max-width: 21rem;
}

form h2 {
    margin-bottom: 1.5rem;
}

form p {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

input[type=text] {
    display: block;
    margin-top: .5rem;
    max-width: 20rem;
    width: 100%;
}

button {
    margin-top: 1.5rem;
}

/** Garden */

.garden {
    padding: 2rem;
    font-size: .8rem;
}

.garden code {
    display: none;
    margin: 0 1rem;
    float: right;
    margin-right: 5vw;
}

.garden code.open {
    display: inline-block;
}

.garden h2 {
    font-size: 1rem;
    margin: 0;
    margin-left: 1.2rem;
    display: inline-block;
}

.garden .toggle {
    display: block;
    position: absolute;
    margin-top: .5rem;
    width: 1rem;
    margin-left: -.2rem;
    transition: .1s;
    user-select: none;
    padding: .2rem;
}

.garden .open .toggle {
    transform: rotate(90deg);
}

.garden ul > li {
    margin: 1rem 0;
}

.garden ul > li .remove {
    display: none;
    background: var(--red);
    color: white;
    font-size: .8rem;
    border-radius: 10em;
    padding: .3em;
    text-align: center;
    line-height: .69rem;
    height: 1em;
    width: 1em;
    margin-top: -3px;
    position: absolute;
    right: 5vw;
}

.garden .remove.open {
    display: inline-block;
}

.garden ul > li:hover .remove:hover, ul > li:hover .remove:active {
    text-decoration: none;
    background: var(--darkred);
}

.garden ol {
    display: flex;
    padding-left: 1.2rem;
    list-style: none;
    max-width: 100%;
    overflow-x: hidden;
}

.garden ol:after {
    content: "";
    background-image: linear-gradient(90deg, transparent, white);
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100%;
}

.garden li.open ol {
    flex-direction: column;
    margin-top: .3rem;
}

.garden ol li {
    white-space: nowrap;
    margin: .5rem .5rem .5rem 0;
    display: flex;
}

.garden ol li time {
    margin: .2rem .5rem 0 .3rem;
}

.garden li.open ol li {
    margin: .2rem .5rem .2rem 0;
}

.garden li:not(.open) ol li:not(:last-child):after {
    content: '/';
    color: var(--fainter);
    margin-top: .1rem;
}

.garden h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.garden h3 a:visited { color: black; }

.garden li:not(.open) ol h3 {
    max-width: 22rem;
}

.garden time {
    color: var(--grey);
    font-size: .8rem;
}

/* Sign-in */
#cover {
    top: 0;
    left: 0;
    z-index: 1000;
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--cyan);
    display: block
    padding: 0;
    margin: 0;
}

#cover a {
    position: relative;
    display: block;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 100px;
    margin-left: -50px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid;
}


/* Noscript */
body:not(.script) .actions {
    display: none;
}

