<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arboretum</title>
    <link rel="stylesheet" href="/public/styles.css" type="text/css" />
  </head>
  <body>
    <div hidden class="h-app">
      <h1 class="p-name"><a class="u-url" href="/">Arboretum</a></h1>
    </div>

    <div id="cover">
      <a href="/sign-in">Sign-in</a>
    </div>
  </body>
</html>
